.*
!.gitignore
!.travis.yml
\#*\#
/build
docsite/build/*
*~
*.swp
*.swo
*.o
*.pyc
*.gcda
*.gcno
*.html
.DS_Store
src/rpcgen/*.o
src/rpcgen/*.c
src/rpcgen/*.h
__pycache__
lcov/*
cov/*
lib/*
.vscode/*
docs/design/out
docs/out
zeta/proto/*pb2_*.py
zeta/proto/*pb2.py
