[submodule "src/extern/libbpf"]
	path = src/extern/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "src/extern/alcor-control-agent"]
	path = src/extern/alcor-control-agent
	url = https://github.com/futurewei-cloud/alcor-control-agent.git
